$primary-color: #2979ff;
$primary-text-color: #000000;
$primary-text-color-inverted: #eceff1;
$primary-button-color: #e8eaf6;
$primary-button-text-color-disabled: lighten($primary-text-color, 50%);
$accent-color: #ff1744;
$accent-text-color: #ffffff;
$card-background: #FFFFFF;

