@import "styles/variables";
@import "styles/switch";
@mixin aside() {
  position: fixed;
  top: 0;
  bottom: 0;
  border-radius: 0;
  min-width: $aside-min-width;
  transition: ease-in 0.05s;
  &--hide {
    left: 0 - 100%;
  }

  &--show {
    left: 0;
  }
}

.App {
  &__nav {
    & > ul {
      list-style-type: none;
      padding: 0;
    }
  }
}

.settings {
  @include aside();
}
