@import "styles/variables";
@import "styles/colors";

@mixin card() {
  background: $card-background;
  padding: ($base-grid-value * 2);
  box-shadow: 0px 0px ($base-grid-value / 4) 0px #ccc;
  border-radius: $button-border-radius;  
}
.App {
  text-align: center;
}

.App-header {
  background-color: $primary-color;
  min-height: ($base-grid-value * 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primary-text-color-inverted;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.calculator {
  padding: $base-grid-value;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.timeOutput {
  margin: ($base-grid-value * 2);
  position: sticky;
  bottom: ($base-grid-value * 2);
  @include card();

  &__title {
    color: $primary-text-color;
  }

  &__value {
    color: $primary-color;
  }
}

.timeInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
  &__table {
    border-collapse:separate; 
    border-spacing:($base-grid-value * 2) ($base-grid-value * 2);
  }

}

table > tfoot > tr > td > button {
  width: 100%;
}

input[type="number"] {
  padding: ($base-grid-value * 2);
  font-size: ($base-grid-value * 2);
}

button {
  background: $primary-button-color;
  color:$primary-text-color;
  border: none;
  box-shadow: 0px 2px 0px 0px darken($primary-button-color, 10%);
  padding: ($base-grid-value * 2);
  font-size: ($base-grid-value * 2);
  font-weight: bold;
  border-radius: $button-border-radius;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  
  &.btn--accent {
    background: $accent-color;
    box-shadow: 0px 2px 0px 0px darken($accent-color, 20%);
    color: $accent-text-color;
    &:hover {
      box-shadow: 0px 4px 0px 0px darken($accent-color, 20%);
    }
  }
}

button:hover {
  box-shadow: 0px 4px 0px 0px darken($primary-button-color, 10%);
  transform: translateY(-2px);
}

button:disabled {
  color: $primary-button-text-color-disabled;
}
